* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}
.game-div {
    background: url(../images/background-img.png);
    background-position: center;
    background-size: contain;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    margin: 50px auto;
}
.title h1,
.title h3 {
    margin: 1rem;
    color: white;
}
.grid {
    height: 420px;
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;

}
.grid div {
    height: 15px;
    width: 15px;
    box-sizing: border-box;
}
.pac-dots {
    /* background-color: rgb(208, 255, 0);
    border: 7px solid black; */
    background-image: url('../images/pac-dot.png');
    background-position: center;
    background-size: contain;
}
.wall {
    background-color: blue;
}
.power-pellet {
    /* background-color: rgb(121, 129, 0);
    border-radius: 7.5px; */
    background-image: url('../images/power-pellet.png');
    background-position: center;
    background-size: contain;
}
.pacman {
    background-image: url('../images/pacman.png');
    background-position: center;
    background-size: contain;
}
.blinky { 
    /* Red */
    background-image: url('../images/blinky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.pinky {
    /* Pink */
    background-image: url('../images/pinky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.inky {
    /* Blue */
    background-image: url('../images/inky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.clyde {
    /* Orange */
    background-image: url('../images/clyde.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.scared-ghost {
    background-image: url('../images/scared-ghost.png');
    background-position: center;
    background-size: contain;
}