* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
h1,
h3 {
    text-align: center;
    color: white;
}
.grid {
    height: 420px;
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.grid div {
    height: 15px;
    width: 15px;
    box-sizing: border-box;
}
.pac-dots {
    background-color: rgb(208, 255, 0);
    border: 5px solid black;
    box-sizing: border-box;
}
.wall {
    background-color: blue;
    box-sizing: border-box;
}
.power-pellet {
    background-color: rgb(121, 129, 0);
    border-radius: 7.5px;
    box-sizing: border-box;
}
.pacman {
    background-color: rgb(255, 255, 6);
    border-radius: 7.5px;
    box-sizing: border-box;
}