* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}
h1,
h3 {
    text-align: center;
    color: white;
}
.grid {
    height: 420px;
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
.grid div {
    height: 15px;
    width: 15px;
    box-sizing: border-box;
}
.pac-dots {
    background-color: rgb(208, 255, 0);
    border: 5px solid black;
}
.wall {
    background-color: blue;
}
.power-pellet {
    /* background-color: rgb(121, 129, 0);
    border-radius: 7.5px; */
    background-image: url('../images/power-pellet.png');
    background-position: center;
    background-size: contain;
}
.pacman {
    background-image: url('../images/pacman.png');
    background-position: center;
    background-size: contain;
}
.blinky { 
    /* Red */
    background-image: url('../images/blinky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.pinky {
    /* Pink */
    background-image: url('../images/pinky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.inky {
    /* Blue */
    background-image: url('../images/inky.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.clyde {
    /* Orange */
    background-image: url('../images/clyde.png');
    background-position: center;
    background-size: contain;
    border: none;
}
.scared-ghost {
    background-image: url('../images/scared-ghost.png');
    background-position: center;
    background-size: contain;
}